@font-face {
    font-family: JMH-Typewriter-Thin;
    src: url(fonts/JMH\ Typewriter-Thin.ttf) format('truetype');    
}

@font-face {
    font-family: roboto-extraLight;
    src: url(fonts/Roboto-ExtraLight.ttf) format('truetype');  
}
@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto_SemiCondensed-Regular.ttf) format('truetype');  
}
:root {
    font-family: JMH-Typewriter-Thin;
    --color-valid: rgb(92, 241, 159);
    --color-invalid: rgb(236, 69, 69);
}

* {
    margin: 0;
    padding: 0;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
body {
    height: 100%;
    width: 100%;

    margin: 0;
}
.container {
    position: relative;
    height: 100vh;
    width: clamp(50rem, 50vw, 200rem);
    margin-left: auto;
    
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerDiv {
    position: relative;
    left: 0;
    margin: 2.5rem;
} 
h1, h2 {
    color: white;
    font-family: JMH-Typewriter-Thin, roboto-extraLight;
    letter-spacing: 0.1rem;  
}
h2 {
    margin: 2rem 0;
}
div {
    position: relative;
}
input {
    position: relative;
    margin-top: 5px;
    width: 280px;
    height: 45px;
    padding: 0 0 0 1rem;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    transition: all 0.2s ease;
    font-size: 1.2rem;
    font-family: roboto-regular;   
}

/* makes the border of a field green when user is using it*/
input:focus,
input:valid,
input:active{
    border: 2px solid var(--color-valid);
    color:white;
}

/* makes the placeholder text disappear */
input::placeholder{
    font-size: 0;
}
/* Border & Label turn green when valid (in focus or out of focus) and red when invalid*/
input:not(:focus):not(:placeholder-shown):valid {
    border: 2px solid var(--color-valid); 
}
input:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid var(--color-invalid); 
}
input:focus:not(:placeholder-shown):invalid {
    border: 2px solid var(--color-invalid); 
} 
input:not(:focus):not(:placeholder-shown):invalid + label {
    color: var(--color-invalid);
}
input:focus:not(:placeholder-shown):invalid + label {
    color: var(--color-invalid);
}

label {
    color: white;
    position: absolute;
    left: 10%;
    top: 1.1rem;
    pointer-events: none;
    transition: all 0.2s ease;
    background-color: transparent;    
}
/* Field text (e.g Phone Number) moves above the field when user clicks on it and  */
input:focus + label,
input:not(:placeholder-shown) + label {
    
    transform: translateY(-160%) scale(1.2);
    color: var(--color-valid);  
}

form {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-auto-flow: row;
    gap: 70px;
    width: 520px;
    margin-right: 14rem;
    align-items: center;
}

fieldset {
    border: 0;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    
}
#submit {
    width: 13rem;
    height: 3rem;
    margin-right: 3rem;
    background-color: rgb(231, 125, 3);
    outline: 0;
    color: white;
    font-family: roboto-regular, roboto-extraLight, monospace;
    font-size: 1.3rem; 
    font-weight: 400;
    line-height: 0.8; 
    border: 0;
    border-radius: 5px;
}

.buttonDiv {
    margin-top: -3rem;
    margin-left: auto;
}

#passwordValidation {
    display: none;
    color: white;
    font-size: 1rem;
    font-family: roboto-regular,roboto-extraLight, monospace;
    position: relative;
    left: -17rem;
    bottom: 6.4rem;
}
/* Used in Password validation block and Confirm Password validation (last two form fields) */
.valid::before {
    color: var(--color-valid);
    position: relative;
    content: "✔";
}
.invalid::before {
    color: var(--color-invalid);
    position: relative;
    content: "✖";
}
/* Already Have an account? */
#signIn {
    position: relative;
    
    
    color: white;
    font-family: roboto-regular, roboto-extraLight, monospace;
}
/* Sign in. */
a {
    color: rgb(231, 125, 3);
}

/* text below Confirm Password field that says if password and cnfrm Passwords match */
#passwordMatch {
    display: none;
    position: absolute;
    padding-left: 1rem;
    color: white;
    font-family: roboto-regular, roboto-extraLight, monospace;
}

